#linkervak{
    display: inline-block;
    height: 600px;
    width: 200px;
}

#rechtervak{
    display: inline-block;
    height: 600px;
    width: 200px;
}

#rechtervak-1{
    display: inline-block;
    height: 40px;
    width: 200px;
}

#rechtervak-2{
    display: inline-block;
    height: 40px;
    width: 200px;
}

#rechtervak-3{
    display: inline-block;
    height: 40px;
    width: 200px;
}

#rechtervak-4{
    display: inline-block;
    height: 40px;
    width: 200px;
}

#rechtervak-5{
    display: inline-block;
    height: 40px;
    width: 200px;
}

#rechtervak-6{
    display: inline-block;
    height: 40px;
    width: 200px;
}
